<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Asistencia.Datos.Properties.Settings.AGRICOLA2017ConnectionString1"
            connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.agricolasanjuan2014ConnectionString"
            connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.attBackupConnectionString"
            connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.agricolasanjuan2014ConnectionString1"
            connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.agricolasanjuan2014ConnectionString2"
            connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.agricolasanjuan2014ConnectionString3"
            connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.AGRICOLA2017ConnectionString"
            connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.saturnoConnectionString"
            connectionString="Data Source=74.208.128.178;Initial Catalog=saturno;Persist Security Info=True;User ID=vsatsaturno;Password=saturno#111"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.BDOConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=BDO;Persist Security Info=True;User ID=eaurazo;Password=J^G|T1jS"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.SATURNOConnectionString1"
            connectionString="Data Source=192.168.1.7;Initial Catalog=SATURNO;Persist Security Info=True;User ID=eaurazo; Password=J^G|T1jS"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.NSFAJAConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=NSFAJA;Persist Security Info=True;User ID=sa;Password=usersql$$nisira"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.SATURNOConnectionString2"
            connectionString="Data Source=192.168.1.7;Initial Catalog=SATURNO;Persist Security Info=True;User ID=eaurazo; Password=J^G|T1jS"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.NSFAJAConnectionString1"
            connectionString="Data Source=192.168.1.7;Initial Catalog=NSFAJA;User ID=eaurazo;Password=J^G|T1jS"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.NSFAJAConnectionString2"
            connectionString="Data Source=192.168.1.7;Initial Catalog=NSFAJA;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.BoltCoorpConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=BoltCoorp;Persist Security Info=True;User ID=eaurao;Password=J^G|T1jS"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.FENOLOGIASConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=FENOLOGIAS;Persist Security Info=True;User ID=eaurazo; Password=J^G|T1jS"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.SATURNOConnectionString3"
            connectionString="Data Source=192.168.1.7;Initial Catalog=SATURNO;Persist Security Info=True;User ID=eaurazo; Password=J^G|T1jS"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.SATURNOConnectionString4"
            connectionString="Data Source=192.168.1.7;Initial Catalog=SATURNO;Persist Security Info=True;User ID=eaurazo; Password=J^G|T1jS"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.SATURNOConnectionString5"
            connectionString="Data Source=192.168.1.7;Initial Catalog=SATURNO;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.SATURNOConnectionString6"
            connectionString="Data Source=192.168.1.7;Initial Catalog=SATURNO;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Asistencia.Datos.Properties.Settings.NSFAJAConnectionString3"
            connectionString="Data Source=192.168.1.7;Initial Catalog=NSFAJA;Persist Security Info=True;User ID=eaurazo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>